.code .sas .de1, .code .sas .de2 {/*font: normal normal 1em/1.2em monospace;*/ margin:0; padding-top:0; background:none; vertical-align:top; line-height: 150%;}
.code .sas  {font-family:monospace; font-size: 12px;}
.code .sas .imp {font-weight: bold; color: red;}
.code .sas li, .code .sas .li1 {font-weight: normal; vertical-align:top;}
.code .sas .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;border-right:2px solid #e0e8ef;font-weight: bold;color: #333;}
.code .sas .li2 {background: #f2f2f2;}
.code .sas .kw1 {color: #0000ff;}
.code .sas .kw2 {color: #0000ff;}
.code .sas .kw3 {color: #0000ff;}
.code .sas .kw4 {color: #0000ff;}
.code .sas .kw5 {color: #0000ff;}
.code .sas .kw6 {color: #000080; font-weight: bold;}
.code .sas .kw7 {color: #ff0000;}
.code .sas .kw8 {color: #00ff00;}
.code .sas .kw9 {color: #0000ff;}
.code .sas .coMULTI {color: #006400; font-style: italic;}
.code .sas .es0 {color: #000099; font-weight: bold;}
.code .sas .br0 {color: #66cc66;}
.code .sas .sy0 {color: #66cc66;}
.code .sas .st0 {color: #a020f0;}
.code .sas .nu0 {color: #2e8b57; font-weight: bold;}
.code .sas .re0 {color: #0000ff; font-weight: bold;}
.code .sas .re1 {color: #000080; font-weight: bold;}
.code .sas .re2 {color: #006400; font-style: italic;}
.code .sas .re3 {color: #006400; font-style: italic;}
.code .sas .re4 {color: #006400; font-style: italic;}
.code .sas .re5 {color: #ff0000; font-weight: bold;}
.code .sas .re6 {color: #00ff00; font-style: italic;}
.code .sas .re7 {color: #0000ff; font-style: normal;}
.code .sas .re8 {color: #b218b2; font-weight: bold;}
.code .sas .re9 {color: #b218b2; font-weight: bold;}
.code .sas .ln-xtra, .code .sas li.ln-xtra, .code .sas div.ln-xtra {background-color: #ffc;}
.code .sas span.xtra { display:block; }