.code .text .de1, .code .text .de2 {/*font: normal normal 1em/1.2em monospace;*/ margin:0; padding-top:0; background:none; vertical-align:top; line-height: 150%;}
.code .text  {font-family:monospace; font-size: 12px;}
.code .text .imp {font-weight: bold; color: red;}
.code .text li, .code .text .li1 {font-weight: normal; vertical-align:top;}
.code .text .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;border-right:2px solid #e0e8ef;font-weight: bold;color: #333;}
.code .text .li2 {background: #f2f2f2;}
.code .text .ln-xtra, .code .text li.ln-xtra, .code .text div.ln-xtra {background-color: #ffc;}
.code .text span.xtra { display:block; }