.code .actionscript .de1, .code .actionscript .de2 {/*font: normal normal 1em/1.2em monospace;*/ margin:0; padding-top:0; background:none; vertical-align:top; line-height: 150%;}
.code .actionscript  {font-family:monospace; font-size: 12px;}
.code .actionscript .imp {font-weight: bold; color: red;}
.code .actionscript li, .code .actionscript .li1 {font-weight: normal; vertical-align:top;}
.code .actionscript .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;border-right:2px solid #e0e8ef;font-weight: bold;color: #333;}
.code .actionscript .li2 {background: #f2f2f2;}
.code .actionscript .kw1 {color: #b1b100;}
.code .actionscript .kw2 {color: #000000; font-weight: bold;}
.code .actionscript .kw3 {color: #0066CC;}
.code .actionscript .co1 {color: #808080; font-style: italic;}
.code .actionscript .co2 {color: #808080; font-style: italic;}
.code .actionscript .coMULTI {color: #808080; font-style: italic;}
.code .actionscript .es0 {color: #000099; font-weight: bold;}
.code .actionscript .br0 {color: #66cc66;}
.code .actionscript .sy0 {color: #66cc66;}
.code .actionscript .st0 {color: #ff0000;}
.code .actionscript .nu0 {color: #cc66cc;}
.code .actionscript .me1 {color: #006600;}
.code .actionscript .ln-xtra, .code .actionscript li.ln-xtra, .code .actionscript div.ln-xtra {background-color: #ffc;}
.code .actionscript span.xtra { display:block; }