.code .oracle8 .de1, .code .oracle8 .de2 {/*font: normal normal 1em/1.2em monospace;*/ margin:0; padding-top:0; background:none; vertical-align:top; line-height: 150%;}
.code .oracle8  {font-family:monospace; font-size: 12px;}
.code .oracle8 .imp {font-weight: bold; color: red;}
.code .oracle8 li, .code .oracle8 .li1 {font-weight: normal; vertical-align:top;}
.code .oracle8 .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;border-right:2px solid #e0e8ef;font-weight: bold;color: #333;}
.code .oracle8 .li2 {background: #f2f2f2;}
.code .oracle8 .kw1 {color: #993333; font-weight: bold; text-transform: uppercase;}
.code .oracle8 .co1 {color: #808080; font-style: italic;}
.code .oracle8 .es0 {color: #000099; font-weight: bold;}
.code .oracle8 .br0 {color: #66cc66;}
.code .oracle8 .sy0 {color: #66cc66;}
.code .oracle8 .st0 {color: #ff0000;}
.code .oracle8 .nu0 {color: #cc66cc;}
.code .oracle8 .me1 {color: #ff0000;}
.code .oracle8 .ln-xtra, .code .oracle8 li.ln-xtra, .code .oracle8 div.ln-xtra {background-color: #ffc;}
.code .oracle8 span.xtra { display:block; }