.code .properties .de1, .code .properties .de2 {/*font: normal normal 1em/1.2em monospace;*/ margin:0; padding-top:0; background:none; vertical-align:top; line-height: 150%;}
.code .properties  {font-family:monospace; font-size: 12px;}
.code .properties .imp {font-weight: bold; color: red;}
.code .properties li, .code .properties .li1 {font-weight: normal; vertical-align:top;}
.code .properties .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;border-right:2px solid #e0e8ef;font-weight: bold;color: #333;}
.code .properties .li2 {background: #f2f2f2;}
.code .properties .kw1 {font-weight: bold;}
.code .properties .co1 {color: #808080; font-style: italic;}
.code .properties .sy0 {color: #000000;}
.code .properties .st0 {color: #933;}
.code .properties .re0 {color: #000080; font-weight:bold;}
.code .properties .re1 {color: #008000; font-weight:bold;}
.code .properties .ln-xtra, .code .properties li.ln-xtra, .code .properties div.ln-xtra {background-color: #ffc;}
.code .properties span.xtra { display:block; }